
button#but3 {
  color: #00ff00;
  background-color: red;
background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@bg_color),
                                     to (shade (@bg_color, 0.95)));
  font: 12px "Comic Sans";
}
button {
  color: #0000ff;
  background-color: lightgrey;
background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@bg_color),
                                     to (shade (@bg_color, 0.15)));
  border-color: green;
  font: 12px "Comic Sans";
}
button:hover {
  color: #ff0000;
transition: 400ms ease-in-out;
  background-color: grey;
}
